# One filled in, run `. ./env.sh`
# All Envs
export DISCORD_TOKEN=""
export DISCORD_APPLICATION_ID=""
export DISCORD_SERVER_ID=""
export DISCORD_PUBLIC_KEY=""

# Prod Only
export TF_VAR_gcp_project=""

# Dev only
export DISCORD_NOTIFICATION_CHANNEL_ID=""
export DISCORD_API_ENDPOINT=""
export AGENT_API_KEY=""
export ADMIN_API_KEY=""

# Auto-fill
export TF_VAR_discord_token=$DISCORD_TOKEN
export TF_VAR_discord_application_id=$DISCORD_APPLICATION_ID
export TF_VAR_discord_server_id=$DISCORD_SERVER_ID
export TF_VAR_discord_public_key=$DISCORD_PUBLIC_KEY